img {
  border-radius: 0%;
}

nav {
  width:100%;
  .border-link{
    border: 3px solid $color-black;
    border-radius: 3rem;

    margin-top: -4px;

  }
  h3 {
    position: absolute;
    margin-bottom: -20px;
  }

  .ben {
    position: relative;
  }

  img {
    border-radius: 50%;
  }
}
