.btn-black {
  background-color: $color-black;
  style: none;
  border: none;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  padding: .8rem 3rem;
}

.btn-white {
  background-color: $color-white;
  padding: .8rem 1rem;
  style: none;
  border-radius: 30px;
  display: inline-block;
  border: 3px solid $color-black;
}
