#header {
  .logo {
    img {
      height: 2rem;
      width: 2rem;
    }
  }
}

#projects {
  .card {
    border-radius: 15px;
    width:370px;
    margin-bottom: 30px;

    img {
      height: 300px;
      width: 370px;
      border-top-left-radius:15px;
      border-top-right-radius: 15px;
    }
  }
}


.hide {
  transform: scale(0);
  width: 0;
  padding:0;
  transition: all 0.4s ease-in-out;
}



.category_item {
  padding: 20px 0;
  cursor: pointer;
  width: 20%;
  float: left;
  text-align: center;
}
